/* Write your CSS code here */
.not-found-con {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.not-found-logo {
  height: 200px;
}

.not-found-heading {
  color: #6d396b;
  font-size: 40px;
}
