.about-con {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-logo {
  height: 200px;
}

.about-heading {
  color: #6d396b;
  font-size: 40px;
}
